.form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.legend,
.subTitle {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 16px;
  display: block;
}

.deliveryDetails {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.orderDetails {
  display: flex;
  flex-direction: column;
}

.cityZip {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.fieldset {
  border: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.productList {
  padding: 24px;
  border: 1px solid var(--border);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}

.productList li {
  position: relative;
}

.productList li:not(:last-child)::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -16px;
  height: 1px;
  background-color: var(--border);
}

.subLegend {
  font-family: var(--second-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.12;
  color: var(--black);
  margin-bottom: 16px;
}

.error {
  color: red;
}

@media (min-width: 768px) {
  .form {
    grid-template-columns: 1fr 1fr;
    row-gap: 26px;
    column-gap: 48px;
  }

  .legend,
  .subTitle {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .subLegend {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .deliveryDetails {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

@media (min-width: 1024px) {
  .form {
    row-gap: 20px;
    column-gap: 96px;
  }

  .legend,
  .subTitle {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .subLegend {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .deliveryDetails {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
