.inputWrap {
  height: 65px;
  padding-top: 9px;
}

.inputGroup {
  position: relative;
}

.label {
  position: absolute;
  display: block;
  top: -9px;
  left: 9px;
  background: var(--background);
  padding: 0 12px;
  font-size: 10px;
  line-height: 1.29;
  color: var(--gray);
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--border);
  border-radius: 6px;
  font-size: 12px;
  font-family: var(--second-family);
  line-height: 1.12;
  color: var(--dark);
  height: 56px;
}

.input::placeholder {
  color: var(--gray);
}

.input:is(:hover, :focus) {
  border-color: var(--border-focus);
  outline: none;
}

.error {
  color: red;
}

@media (min-width: 768px) {
  .label {
    font-size: 12px;
  }

  .input {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .label {
    font-size: 14px;
  }

  .input {
    font-size: 16px;
  }
}
