.featureSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 0;
  margin-top: auto;
}

.feature {
  max-width: 240px;
}

.title {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  margin-bottom: 8px;
}

.text {
  font-size: 12px;
  line-height: 1.56;
  text-align: center;
  color: var(--gray);
}

.image {
  margin: 0 auto 20px;
  width: 36px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--feature-img-bgc);
}

.imageBest {
  background-image: url('/best.png');
  background-repeat: no-repeat;
  background-position: center;
}

.imageSafe {
  background-image: url('/safe.png');
  background-repeat: no-repeat;
  background-position: center;
}

.imageSupport {
  background-image: url('/support.png');
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 480px) {
  .title {
    font-size: 18px;
  }

  .text {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .featureSection {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .title {
    font-size: 20px;
  }

  .text {
    font-size: 16px;
  }

  .image {
    width: 48px;
  }
}

@media (min-width: 1024px) {
  .image {
    margin-bottom: 40px;
    width: 72px;
  }
}
