.footer {
  background-color: var(--footer);
  color: var(--white);
}

.footerContent {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 30px 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'info'
    'about'
    'faq'
    'blog'
    'contact';
  justify-items: center;
  row-gap: 16px;
}

.info {
  grid-area: info;
}

.about {
  grid-area: about;
}

.faq {
  grid-area: faq;
}

.blog {
  grid-area: blog;
}

.contact {
  grid-area: contact;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.blockLabel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.text {
  font-size: 12px;
  color: rgba(var(--white-rgb), 0.6);
  text-align: center;
}

.intro {
  line-height: 1.5;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.link {
  display: block;
  transition: color var(--transition);
}

.link:is(:hover, :focus) {
  text-decoration: underline;
  color: var(--white);
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.socialsLabel {
  line-height: 1.5;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

.socialLink {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIcon {
  width: 24px;
  height: 24px;
  opacity: 0.6;
  transition: opacity var(--transition);
}

.socialIcon:is(:hover, :focus) {
  opacity: 1;
}

.copyright {
  padding: 18px 0;
  font-size: 10px;
  text-align: center;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
}

@media (min-width: 480px) {
  .footerContent {
    padding: 20px 30px 30px;
  }
}

@media (min-width: 768px) {
  .footerContent {
    padding: 40px 60px 60px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      'info info about about contact contact'
      'faq blog about about contact contact';
    row-gap: 16px;
    justify-items: center;
  }

  .blockLabel {
    text-align: initial;
    font-size: 18px;
  }

  .intro {
    width: 176px;
  }

  .text {
    font-size: 14px;
    text-align: initial;
  }

  .info,
  .faq,
  .blog {
    justify-self: start;
  }

  .contact {
    justify-self: end;
  }

  .icons {
    justify-content: start;
  }

  .copyright {
    padding: 20px 0;
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .footerContent {
    padding: 60px 120px 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .block {
    gap: 24px;
  }

  .blockLabel {
    text-align: initial;
    font-size: 20px;
  }

  .text {
    font-size: 16px;
    text-align: initial;
  }

  .links {
    gap: 16px;
  }

  .socials {
    gap: 14px;
  }

  .copyright {
    padding: 27px 0;
    font-size: 14px;
  }
}
